In [1]:
import numpy as np 
import pandas as pd 

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt 
import seaborn as sns
from matplotlib import pyplot
plt.rc("font", size=14)
import seaborn as sns
sns.set(style="white") #white background style for seaborn plots
sns.set(style="whitegrid", color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import warnings
warnings.simplefilter(action='ignore')

In [3]:
# Read CSV train data file into DataFrame
df = pd.read_csv('C:/Users/mishrap6/OneDrive - Zimmer Biomet/Downloads/DS1_C9_S7_Project_AbsenteeismAtWork_Data.csv', delimiter =';')

df.to_csv("C:/Users/mishrap6/OneDrive - Zimmer Biomet/Downloads/AbsenteeismAtWork_Data1.csv", index=False)
# preview the data
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [5]:
df.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [9]:
df_copy = df
df_copy.isnull().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

In [11]:
import pandas as pd
import re

# Function to check for special characters
def check_special_characters(df):
    special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')  # Match anything that's not alphanumeric or whitespace
    for col in df.columns:
        print(f"\nChecking column: {col}")
        df[col] = df[col].astype(str)  # Ensure all values are strings
        contains_special = df[col].apply(lambda x: bool(special_char_pattern.search(x)))
        if contains_special.any():
            print("Rows with special characters:")
            print(df[contains_special])
        else:
            print("No special characters found.")

check_special_characters(df_copy)

Checking column: ID
No special characters found.

Checking column: Reason for absence
No special characters found.

Checking column: Month of absence
No special characters found.

Checking column: Day of the week
No special characters found.

Checking column: Seasons
No special characters found.

Checking column: Transportation expense
No special characters found.

Checking column: Distance from Residence to Work
No special characters found.

Checking column: Service time
No special characters found.

Checking column: Age
No special characters found.

Checking column: Work load Average/day
Rows with special characters:
     ID Reason for absence Month of absence Day of the week Seasons  \
0    11                 26                7               3       1
1    36                  0                7               3       1
2     3                 23                7               4       1
3     7                  7                7               5       1
4    11                 23                7               5       1
..   ..                ...              ...             ...     ...
735  11                 14                7               3       1
736   1                 11                7               3       1
737   4                  0                0               3       1
738   8                  0                0               4       2
739  35                  0                0               6       3

    Transportation expense Distance from Residence to Work Service time Age  \
0                      289                              36           13  33
1                      118                              13           18  50
2                      179                              51           18  38
3                      279                               5           14  39
4                      289                              36           13  33
..                     ...                             ...          ...  ..
735                    289                              36           13  33
736                    235                              11           14  37
737                    118                              14           13  40
738                    231                              35           14  39
739                    179                              45           14  53

    Work load Average/day   ...  Disciplinary failure  Education  Son  \
0                  239.554  ...                     0          1    2
1                  239.554  ...                     1          1    1
2                  239.554  ...                     0          1    0
3                  239.554  ...                     0          1    2
4                  239.554  ...                     0          1    2
..                     ...  ...                   ...        ...  ...
735                264.604  ...                     0          1    2
736                264.604  ...                     0          3    1
737                271.219  ...                     0          1    1
738                271.219  ...                     0          1    2
739                271.219  ...                     0          1    1

     Social drinker  Social smoker  Pet  Weight  Height  Body mass index  \
0                 1              0    1      90     172               30
1                 1              0    0      98     178               31
2                 1              0    0      89     170               31
3                 1              1    0      68     168               24
4                 1              0    1      90     172               30
..              ...            ...  ...     ...     ...              ...
735               1              0    1      90     172               30
736               0              0    1      88     172               29
737               1              0    8      98     170               34
738               1              0    2     100     170               35
739               0              0    1      77     175               25

     Absenteeism time in hours
0                            4
1                            0
2                            2
3                            4
4                            2
..                         ...
735                          8
736                          4
737                          0
738                          0
739                          0

[740 rows x 21 columns]

Checking column: Hit target
No special characters found.

Checking column: Disciplinary failure
No special characters found.

Checking column: Education
No special characters found.

Checking column: Son
No special characters found.

Checking column: Social drinker
No special characters found.

Checking column: Social smoker
No special characters found.

Checking column: Pet
No special characters found.

Checking column: Weight
No special characters found.

Checking column: Height
No special characters found.

Checking column: Body mass index
No special characters found.

Checking column: Absenteeism time in hours
No special characters found.

In [13]:
columns_spl = df_copy.columns[df.apply(lambda col: col.astype(str).str.contains('\?\r^\s*\?\s*$\ ').any())]
print("Columns with spl char :", columns_spl)

Columns with spl char : Index([], dtype='object')

In [15]:
df_copy.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740,740,740,740,740,740,740,740,740,740,...,740,740,740,740,740,740,740,740,740,740
unique,36,28,13,5,4,24,25,18,22,38,...,2,4,5,2,2,6,26,14,17,19
top,3,23,3,2,4,179,26,18,28,222.196,...,0,1,0,1,0,0,89,170,31,8
freq,113,149,87,161,195,180,128,147,117,36,...,700,611,298,420,686,460,113,166,147,208

In [17]:
df_copy.dtypes

ID                                 object
Reason for absence                 object
Month of absence                   object
Day of the week                    object
Seasons                            object
Transportation expense             object
Distance from Residence to Work    object
Service time                       object
Age                                object
Work load Average/day              object
Hit target                         object
Disciplinary failure               object
Education                          object
Son                                object
Social drinker                     object
Social smoker                      object
Pet                                object
Weight                             object
Height                             object
Body mass index                    object
Absenteeism time in hours          object
dtype: object

In [19]:
for col in df_copy.columns:
    print(f"{col} unique values:", df_copy[col].unique())

ID unique values: ['11' '36' '3' '7' '10' '20' '14' '1' '24' '6' '33' '18' '30' '2' '19'
 '27' '34' '5' '15' '29' '28' '13' '22' '17' '31' '23' '32' '9' '26' '21'
 '8' '25' '12' '16' '4' '35']
Reason for absence unique values: ['26' '0' '23' '7' '22' '19' '1' '11' '14' '21' '10' '13' '28' '18' '25'
 '24' '6' '27' '17' '8' '12' '5' '9' '15' '4' '3' '2' '16']
Month of absence unique values: ['7' '8' '9' '10' '11' '12' '1' '2' '3' '4' '5' '6' '0']
Day of the week unique values: ['3' '4' '5' '6' '2']
Seasons unique values: ['1' '4' '2' '3']
Transportation expense unique values: ['289' '118' '179' '279' '361' '260' '155' '235' '246' '189' '248' '330'
 '157' '291' '184' '225' '369' '388' '378' '228' '300' '268' '231' '233']
Distance from Residence to Work unique values: ['36' '13' '51' '5' '52' '50' '12' '11' '25' '29' '16' '27' '42' '10' '20'
 '31' '26' '17' '22' '15' '49' '48' '14' '35' '45']
Service time unique values: ['13' '18' '14' '3' '11' '16' '4' '6' '12' '7' '10' '9' '17' '29' '8' '1'
 '15' '24']
Age unique values: ['33' '50' '38' '39' '28' '36' '34' '37' '41' '47' '29' '48' '32' '27'
 '43' '40' '31' '30' '49' '58' '46' '53']
Work load Average/day  unique values: ['239.554' '205.917' '241.476' '253.465' '306.345' '261.306' '308.593'
 '302.585' '343.253' '326.452' '378.884' '377.55' '275.312' '265.615'
 '294.217' '265.017' '284.031' '236.629' '330.061' '251.818' '244.387'
 '239.409' '246.074' '253.957' '230.29' '249.797' '261.756' '284.853'
 '268.519' '280.549' '313.532' '264.249' '222.196' '246.288' '237.656'
 '275.089' '264.604' '271.219']
Hit target unique values: ['97' '92' '93' '95' '99' '96' '94' '98' '81' '88' '100' '87' '91']
Disciplinary failure unique values: ['0' '1']
Education unique values: ['1' '3' '2' '4']
Son unique values: ['2' '1' '0' '4' '3']
Social drinker unique values: ['1' '0']
Social smoker unique values: ['0' '1']
Pet unique values: ['1' '0' '4' '2' '5' '8']
Weight unique values: ['90' '98' '89' '68' '80' '65' '95' '88' '67' '69' '86' '84' '75' '58'
 '83' '106' '73' '70' '56' '63' '76' '108' '77' '79' '100' '94']
Height unique values: ['172' '178' '170' '168' '196' '167' '165' '182' '185' '163' '169' '171'
 '174' '175']
Body mass index unique values: ['30' '31' '24' '27' '23' '25' '29' '32' '22' '33' '21' '28' '38' '19'
 '36' '35' '34']
Absenteeism time in hours unique values: ['4' '0' '2' '8' '40' '1' '7' '3' '32' '5' '16' '24' '64' '56' '80' '120'
 '112' '104' '48']

In [21]:
df_copy.columns = df_copy.columns.str.strip()

In [23]:
# List of columns to convert to int64
int_cols = [
    "ID", "Reason for absence", "Month of absence", "Day of the week", "Seasons",
    "Transportation expense", "Distance from Residence to Work", "Service time",
    "Age", "Hit target", "Disciplinary failure", "Education", "Son", 
    "Social drinker", "Social smoker", "Pet", "Weight", "Height", 
    "Body mass index", "Absenteeism time in hours"
]

# List of columns to convert to float64
float_cols = ["Work load Average/day"]

# Convert columns to appropriate types
df_copy[int_cols] = df_copy[int_cols].apply(pd.to_numeric, errors='coerce', downcast='integer')
df_copy[float_cols] = df_copy[float_cols].apply(pd.to_numeric, errors='coerce', downcast='float')

# Verify the conversions
print(df_copy.dtypes)

ID                                    int8
Reason for absence                    int8
Month of absence                      int8
Day of the week                       int8
Seasons                               int8
Transportation expense               int16
Distance from Residence to Work       int8
Service time                          int8
Age                                   int8
Work load Average/day              float32
Hit target                            int8
Disciplinary failure                  int8
Education                             int8
Son                                   int8
Social drinker                        int8
Social smoker                         int8
Pet                                   int8
Weight                                int8
Height                               int16
Body mass index                       int8
Absenteeism time in hours             int8
dtype: object

In [25]:
# List of columns to convert to category
category_cols = [
    'Reason for absence', 'Disciplinary failure', 'Education', 'Social drinker', 
    'Social smoker', 'Son', 'Pet', 'Seasons', 'Month of absence', 'Day of the week'
]

# Convert to category type
df_copy[category_cols] = df_copy[category_cols].apply(lambda x: x.astype('category'))

# Verify the conversion
print(df_copy.dtypes)

ID                                     int8
Reason for absence                 category
Month of absence                   category
Day of the week                    category
Seasons                            category
Transportation expense                int16
Distance from Residence to Work        int8
Service time                           int8
Age                                    int8
Work load Average/day               float32
Hit target                             int8
Disciplinary failure               category
Education                          category
Son                                category
Social drinker                     category
Social smoker                      category
Pet                                category
Weight                                 int8
Height                                int16
Body mass index                        int8
Absenteeism time in hours              int8
dtype: object

In [27]:
df_copy.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554001,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554001,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554001,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554001,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554001,...,0,1,2,1,0,1,90,172,30,2

Define a threshold, like the median absenteeism time, and create a new binary target variable (High absenteeism = 1, No absenteeism = 0).

In [30]:
# Converting the Target Variable in binary label: 

median_absenteeism = df_copy['Absenteeism time in hours'].median()
df_copy['Absenteeism Category'] = (df_copy['Absenteeism time in hours'] > median_absenteeism).astype(int)

In [40]:
df_copy.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Absenteeism Category
0,11,26,7,3,1,289,36,13,33,239.554001,...,1,2,1,0,1,90,172,30,4,1
1,36,0,7,3,1,118,13,18,50,239.554001,...,1,1,1,0,0,98,178,31,0,0
2,3,23,7,4,1,179,51,18,38,239.554001,...,1,0,1,0,0,89,170,31,2,0
3,7,7,7,5,1,279,5,14,39,239.554001,...,1,2,1,1,0,68,168,24,4,1
4,11,23,7,5,1,289,36,13,33,239.554001,...,1,2,1,0,1,90,172,30,2,0

In [45]:
# Define Features and Target:

# Prepare features and target
X = df_copy.drop(columns=['Absenteeism time in hours', 'Absenteeism Category'])  # Drop target and 'Absenteeism time in hours'
y = df_copy['Absenteeism Category']
X = df_copy.drop(columns=['Absenteeism time in hours', 'Absenteeism Category'])  # Drop target and 'Absenteeism time in hours'
y = df_copy['Absenteeism Category']

In [47]:
# split the dataset into training and testing sets.

from sklearn.model_selection import train_test_split

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [49]:
from sklearn.preprocessing import StandardScaler

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Logistic Regression Model:

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Logistic Regression model
log_reg_model = LogisticRegression()
log_reg_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_log_reg = log_reg_model.predict(X_test_scaled)

# Evaluate the model
print('Logistic Regression Accuracy:', accuracy_score(y_test, y_pred_log_reg))
print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred_log_reg))
print('Classification Report:\n', classification_report(y_test, y_pred_log_reg))

Logistic Regression Accuracy: 0.7432432432432432
Confusion Matrix:
 [[93 29]
 [28 72]]
Classification Report:
               precision    recall  f1-score   support

           0       0.77      0.76      0.77       122
           1       0.71      0.72      0.72       100

    accuracy                           0.74       222
   macro avg       0.74      0.74      0.74       222
weighted avg       0.74      0.74      0.74       222

### K-Nearest Neighbors (KNN) Model:

In [53]:
from sklearn.neighbors import KNeighborsClassifier

# KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train_scaled, y_train)

# Make predictions
y_pred_knn = knn_model.predict(X_test_scaled)

# Evaluate the model
print('KNN Accuracy:', accuracy_score(y_test, y_pred_knn))
print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred_knn))
print('Classification Report:\n', classification_report(y_test, y_pred_knn))

KNN Accuracy: 0.7117117117117117
Confusion Matrix:
 [[93 29]
 [35 65]]
Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.76      0.74       122
           1       0.69      0.65      0.67       100

    accuracy                           0.71       222
   macro avg       0.71      0.71      0.71       222
weighted avg       0.71      0.71      0.71       222

### Final Interpretation: